######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local